

<main>
 <div class="search-container">
    <input name="search" type="text" placeholder="Search For Products" [(ngModel)]="search" (input)="onChange()">
 </div>
 <div class="cart-container">
<app-custombutton label= " {{totalProducts}} " (click)="navigateToCartPage()" routerLink="cart">
  
</app-custombutton>
 </div>
    <div class="main-container" >
        <mat-card class="product-card" *ngFor="let product of filteredProducts">
        <div class="image-container" (click)="navigateToProductPage(product.id)" (keydown)="navigateToProductPage(product.id)" tabindex="0">
               <img mat-card-image src={{product.image}} alt="photo of products"> 
        </div>
    
        <app-custombutton label="Add to Cart" (click)="addToCart(product)"></app-custombutton> 
        <mat-card-content> 
              <p>
            {{product.title}}
          </p> 
            <div class="details-container">
             
          <p>
           <span>PRICE: </span> {{product.price | currency}}
          </p>
            </div>
         
        </mat-card-content>
      </mat-card>
    </div>
      
</main>
