<ng-container>
    <div class="main-container">
        <div class="product-container">
           <table class="product-table">
            <thead>
                <tr>
                 <th>Product Number </th>
                 <th> Product Name</th>
                 <th> Product Image</th>
                 <th> Description</th>
                 <th>Price</th>
                 <th> Total</th>
                 <th>Action</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let products of itemsInCart; let item = index">
                        <td>{{item + 1}} </td>
                        <td>{{products.title}}</td>
                        <td><img class="cart-image" src="{{products.image}} " alt="cart-item"></td>
                        <td>{{products.description}}</td>
                        <!-- <td> {{products.total}} </td> -->
                        <td><app-custombutton (click)="removeCartItem(products)" class="delete-container" label="Delete"></app-custombutton></td>
                    </tr>
                </tbody>
           </table>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!itemsInCart?.length">
    <div class="product-card">
        <img src="../../../../assets/images/sideImage.svg" alt="Product Image" class="product-image">
        <p class="product-description">No items has been added yet.</p>
       
    </div>
    
</ng-container>